* {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	margin: 0;
	height: 100%;
	background-color: rgb(24, 26, 27);
}

#app-container {
	overflow: hidden;
	height: calc(100% - 20px);
	margin: 0;
	padding: 10px;
}

#main-content {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: stretch;
}

.distribute-row {
	flex-direction: row;
}

.distribute-column {
	flex-direction: column;
}

#message-pane {
	flex-grow: 3;
	display: flex;
	flex-direction: column;
	max-width: 66%;
}

#messages-list {
	height: 100%;
	overflow-y: auto;
}

#messages {
	word-wrap: break-word;
}

#message-form {
	display: flex;
	gap: 10px;
}

#message-input {
	width: 100%;
	padding: 4px;
	background-color: rgb(24, 26, 27);
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom: 1px solid rgb(158, 44, 44);
	border-radius: 5px;
	outline: none;
}

#message-input:focus {
	background-color: rgb(43, 43, 43);
	outline: none;
}

#send-button {
	width: 100px;
	background-color: rgb(24, 26, 27);
	border-style: hidden;
	border-radius: 5px;
	outline: none;
}

#user-list {
	flex-grow: 1;
}

#channel-list {
	flex-grow: 1;
}

#channel-list .channel {
	padding: 5px;
}

#channel-list .channel:hover {
	background-color: rgb(158, 44, 44);
}

.selected {
	background-color: rgb(158, 44, 44);
}

.layoutpanel {
	background-color: rgb(12, 12, 12);
	border: 1px solid rgb(50, 50, 50);
	border-radius: 5px;
	padding: 10px;
}

.error {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(189, 27, 36);
	color: white;
	text-align: center;
	padding: 10px;
}